body {
    height: 100vh;
}

.editor {
    height: 80vh;
    display: flex;
    flex-direction: row;
    gap: 16px;
    line-height: 16px;
    background-color: rgba(200, 140, 50, 0.9);
    border-radius: 4px;
    font-family: monospace;
    margin: 0;
    padding: 8px;
}

.editor>.editor-content {
    background-color: white;
    line-height: 16px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    outline: none;
    resize: none;
}

.line-numbers {
    overflow: scroll;
    width: 16px;
    text-align: right;
}

.line-numbers>span {
    counter-increment: line;
}

.line-numbers>span::before {
    display: block;
    content: counter(line);
}

/* https://stackoverflow.com/questions/43186015/css-hide-scroll-bar-but-have-element-scrollable */
.disable-scrollbars::-webkit-scrollbar {
    background: transparent;
    /* Chrome/Safari/Webkit */
    width: 0px;
}

.disable-scrollbars {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

/* Directory viewer styling */
.directory-list {
    margin: 0;
    padding: 0;
}

.directory::before {
    /* text-align: center; */
    padding: 8px 0 8px 8px;
    content: "> ";
    width: 5%;
    background-color: rgba(154, 16, 172, 0.24);
}

.directory:hover::before, .file:hover::before {
    content: "* ";
    background-color: rgba(154, 16, 172, 0.8);
}

.directory, .file {
    list-style-type: none;
    display: flex;
}

.directory > .dir-alias, .file > .file-alias {
    width: 80%;
    padding: 8px;
    border-left: solid 1px black;
}

.directory > .dir-alias:hover, .file > .file-alias:hover {
    cursor: pointer;
}

.directory > .delete-x, .file > .delete-x {
    width: fit-content;
    color: red;
    padding: 8px;
    border-left: solid 1px black;
}

.directory > .delete-x:hover, .file > .delete-x:hover {
    cursor: pointer;
}

.current-dir::before {
    background-color: white;
    content: "";
}

.current-dir:hover::before {
    content: "";
    background-color: white;
    cursor: default;
}

.file::before {
    padding: 8px 0 8px 8px;
    content: "| ";
    width: 5%;
    background-color: rgba(154, 16, 172, 0.24);
}

.file {
    list-style-type: none;
}

.directory > ul > .directory {
    display: none;
}

.directory > .file {
    display: none;
}

/* editor v2 */
#editor-v2 {
    position: relative;
    z-index: 0;
}

#editor-content-v2, #editor-display {
    margin: 0;
    padding: 16px;
    border: 0;
    width: 80%;
    height: 250px;

    /* place on top of each other */
    position: absolute;
    top: 0;
    left: 0;

    /* scroll support */
    overflow: scroll;
    white-space: nowrap; /* allows textarea to horizontally scroll */
}

#editor-content-v2, #editor-display, #editor-display * {
    font-size: 16px;
    font-family: monospace;
    line-height: 20px;

    tab-size: 4;
}

/* place text area in front of pre */
#editor-content-v2 {
    z-index: 1;

    /* make textarea transparent, except cursor, to allow seeing
       any styles applied to the text
    */
    color: transparent;
    background: transparent;
    caret-color: black;

    /* prevent resize of textarea */
    resize: none;
}

#editor-display {
    z-index: 0;
}