*,
*::before,
*::after {
    box-sizing: border-box;
}

#editor {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100vh;
    width: 100%;
    z-index: 0;
}

#editor>#display {
    width: 100%;
    height: 80%;
    background-color: blueviolet;
    font-size: 16px;
}

#editor>#display>* {
    font-size: inherit;
}

#editor > #modal {
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: 1;
    background-color: whitesmoke;
    width: 500px;
    height: 300px;
}

#editor > form#modal > fieldset {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

#editor > form#modal > fieldset > label {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#editor > form#modal > fieldset > label > input {
    width: 80%;
}