{% extends "layouts/base.njk" %}
{# We inherit blocks from base.njk that we can override :D to create new layout types while reusing boilerplate #}

{% block head %}
    <link rel="stylesheet" href="/css/theme/prism-atom-dark.css" />
{% endblock %}

{% block content %}
    <div class="p-16 w-60 w-md-80 w-sm-90 ml-auto mr-auto">
        <h1>{{ title }}</h1>
        <p><b>Created on</b>: <time>{{ page.date.toUTCString() }}</time></p>

        {% if thumbnail %}
            <div class="row w-100">
                <div class="col-5 col-sm-12">
                    <img 
                        src="{{ thumbnail }}" 
                        alt="thumbnail image" 
                    />
                </div>
        {% endif %}
        
        {% if thumbnail %}<div class="col-7 col-sm-12 pl-16 pl-sm-0">{% endif %}
        <h2>Tags</h2>
        <ul>
            {% for tag in tags %}
                <li>
                    <a href="/blog/tag/{{ tag | slugify }}">{{ tag }}</a>
                </li>
            {% endfor %}
        </ul>
        {% if thumbnail %}</div></div>{% endif %}

        <hr />

        {{ content | safe }}

        {# Comments with Giscus #}
        <script src="https://giscus.app/client.js"
                data-repo="MrWalshy/MrWalshy.github.io"
                data-repo-id="R_kgDOHQucNw"
                data-category="Announcements"
                data-category-id="DIC_kwDOHQucN84CUeyo"
                data-mapping="pathname"
                data-strict="1"
                data-reactions-enabled="1"
                data-emit-metadata="0"
                data-input-position="top"
                data-theme="preferred_color_scheme"
                data-lang="en"
                data-loading="lazy"
                crossorigin="anonymous"
                async>
        </script>
    </div>
{% endblock %}

{% block footer %}
    <script src="/scripts/nav.js"></script>
{% endblock %}