:root {
  /* globally-scoped CSS variables, accessible in any css selector */
  --primary-color: rgb(72, 72, 73);
  --secondary-color: #2ecc40;
  --white: whitesmoke;
}

html {
  font-size: 10px;
}

*,
*:before,
*::after {
  box-sizing: border-box;
  font-size: inherit;
  /* margin: 0;
  padding: 0; */
}

html,
body {
  line-height: 1.7;
  min-height: 100vh;
  background-color: var(--primary-color);
  font-family: "Courier New", Courier, monospace;
}

#root {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

hr {
  border: solid 2px var(--secondary-color);
  border-radius: 5px;
}

::selection {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 4.0rem;
}

h1,
h2 {
  margin-top: 3.2rem;
  line-height: 1.5;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2.2rem;
}

h5 {
  font-size: 2.0rem;
}

h6 {
  font-size: 1.8rem;
}

h3,
h4,
h5,
h6 {
  margin-top: 1.6rem;
}

p,
a,
li {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 1px;
}

small {
  font-size: 1.2rem;
}

pre,
blockquote,
ul,
ol,
p,
table {
  margin: 1.6rem 0;
}

/* a, a:visited {
  color: #01ff70;
  text-decoration: underline;
} */

a:hover,
a:focus,
a:active {
  color: var(--secondary-color);
  text-decoration: none;
}

/* Code */
pre {
  font-family: "Courier New";
  background-color: #333;
  padding: 0.8rem;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  color: #EEE;
  overflow-x: auto;
}

code {
  font-family: monospace;
  background-color: #333;
  padding: 0.2rem 0.6rem;
  border-radius: 0.5rem;
  font-size: inherit;
  color: #EEE;
}

/* Code embedded in text */
p > code,
li > code {
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: 0.2rem 0.3rem;
  border-radius: 0.2rem;
}

/* Code in block */
pre code {
  display: block;
  white-space: pre;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100%;
}

/* Blockquotes */
blockquote {
  border-left: 3px solid #01ff70;
  padding-left: 1rem;
}

/* Lists */
li {
  list-style-position: initial;
}

li>ul {
  /* sitemap style */
  padding-left: 24px;
}

img {
  max-width: 100%;
  height: auto;
}

/* Scrollbar */
div::-webkit-scrollbar {
  /* width: 5px; */
  height: 12px;
}

div::-webkit-scrollbar-track {
  background: whitesmoke;
}

div::-webkit-scrollbar-thumb {
  background-color: rgb(72, 72, 73);
  border-radius: 20px;
  border: solid 1px whitesmoke;
}

div {
  /* -ms-overflow-style: none; */
  /* scrollbar-width: 1px; */
}

.centre {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

#navbar {
  display: flex;
  /* padding-left: 16px; */
  background-color: rgb(72, 72, 73);
  /* padding-left: calc(100% - 90%); */
}

.nav-link,
#toggle {
  color: whitesmoke;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inherit;
}

.nav-link:hover,
#toggle:hover {
  background-color: whitesmoke;
  color: rgb(72, 72, 73);
}

#toggle {
  display: none;
}

/* dropdown capable menus */
.menu {
  position: absolute;
  display: flex;

  margin: 0;
  padding: 0;
}

.submenu>ul {
  position: absolute;
  display: none;
  margin: 0;
  padding: 0;
  /* left: 0px; */
  /* top: 50px; */
  min-width: 100%;
}

.submenu>button {
  outline: none;
  border: none;
  background-color: var(--primary-color);
  color: var(--white);
  padding: 16px;
}

.submenu>button:focus {
  outline: auto;
  color: var(--secondary-color);
}

.submenu:hover>ul {
  display: block;
}

.menu-btn:hover {
  background-color: var(--white);
  color: var(--primary-color);
}

.menu-btn {
  position: relative;
  /* display: flex; */
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 50px;
  /* max-width: fit-content;
  max-height: fit-content; */

  /* style */
  background-color: var(--primary-color);
  color: var(--white);
}

.menu-btn>a {
  text-decoration: none;
  /* text-align: center; */
  color: inherit;
  display: inline-block;
  padding: 16px;
  width: 100%;
}


/* header {
  padding: 32px;
  text-align: center;
  background-color: rgb(72, 72, 73);
  color: white;
} */

#top-header {
  margin: 0;
  padding: 0;
  background-color: rgb(72, 72, 73);
}

#top-header>h1 {
  margin: 32px 0 16px 0;
  padding: 0;
  color: var(--secondary-color);
}

main>#page-header {
  background-color: var(--white);
  /* padding: calc(100vh / 6) 0 calc(100vh / 12) 0; */
  padding: calc(100vh / 6) 0 8px 0;
}

main>#page-header>h2,
main>#page-header>p {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  color: black;
}

/* header > h1 {
  font-size: 4rem;
} */

main>#highlights {
  color: black;
  border-top: solid black 1px;
}

.grid {
  display: grid;
  /* 
    grid-template-columns: size size size ...
    - each size represents a column

    auto-fill indicates as many columns as there are elements
    minmax(250px, 1fr) is the size
  */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}

.card,
.link-card>a {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-bottom: 8px;
}

.link-card>a {
  text-decoration: none;
  color: var(--primary-color);
}

.link-card>a:hover>.card-image-header,
.link-card>a:hover>.card-header {
  color: var(--secondary-color);
}

.card>.card-image-header>h5,
.link-card>a>.card-image-header>h5 {
  height: 56px;
  overflow: hidden;
}

/* just a text card style */
.link-card>a>.card-header>h5::before {
  content: "> ";
}

.card>.card-image-header>.thumbnail,
.link-card>a>.card-image-header>.thumbnail {
  width: 100%;
}

.card>.card-content,
.link-card>a>.card-content {
  height: 70%;
}

.card>.card-content>p,
.link-card>a>.card-content>p {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* .grid > .card > h3::after {
  content: "...";
} */

/* .card-row-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  width: 100%;
  height: auto;
  gap: 20px;
}

.card-row-container > .card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 4 - 20px);
  padding: 0 0 16px 0;
}

.card-row-container > .card > h3 {
  min-height: 25%;
}

.card-row-container > .card > .thumbnail {
  width: 350px;
}

.card-row-container > .card > p {
  margin: 0;
  padding: 0;
  width: fit-content;
  height: fit-content;
} */

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

main {
  /* flex: 100%; */
  /* padding: 0 32px; */
  background-color: var(--white);
}

footer {
  flex: 100%;
  height: 64px;
  background-color: rgb(72, 72, 73);
  color: white;
  text-align: center;
}

.hide {
  display: none;
}

/* tiles */
.tiles {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 16px;
}

.tile {
  /* flex: shrink grow width */
  flex: 1 0 calc(10% - 1em);
  text-align: center;
  /* height: 60px; */
  background-color: rgb(72, 72, 73);
  color: white;
  text-decoration: none;
  border: 2px solid white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.tile:hover {
  border: 4px solid white;
}

/* A media query can be used to change CSS values dependent on various factors, usually a max-width or min-width of the
viewport (screen).

Media queries always start with `@media target and (properties) {

}`

- the properties are what we are checking for
*/
@media screen and (max-width: 1024px) {
  aside {
    flex: 25%;
  }

  main {
    flex: 75%;
  }

  .tile {
    flex: 1 0 calc(50% - 1em);
  }
}

@media screen and (max-width: 768px) {

  /* General html element styles */
  #root {
    width: 100%;
    margin: 0;
  }

  #top-header {
    width: 80%;
    margin: 0 auto;
  }

  #toggle, .nav-link {
    width: 80%;
    margin: 0 auto;
    padding: 16px 0;
    text-align: left;
  }

  #toggle:active, #toggle:hover, .nav-link:active, .nav-link:hover {
    padding-left: 16px;
  }

  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h1,
  h2 {
    margin-top: 2.6rem;
    line-height: 1.4;
  }

  .tile {
    flex: 1 0 calc(100% - 2em);
  }

  aside {
    display: none;
  }

  nav,
  .container,
  .row {
    flex-direction: column;
  }

  nav {
    padding-left: 0px;
  }

  .nav-link {
    display: none;
  }

  #toggle {
    display: block;
    cursor: pointer;
  }
}

.show {
  display: inherit;
}